*{
    padding:0;
    margin:0;
    font-family: Georgia, serif;
    
    
}


.banner{
    height: 100vh;
    width:100%;
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(mat.jpg);
    background-position: center;
    background-size: cover;
}
.navbar{
    display: flex;
    margin:auto;
    padding: 32px 0;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(141, 114, 93, 0.727);
    width: 100%;
    height: 90px;
    margin:0;

}

.navbar h1{
    font-size: 50px;
    text-align: center;
    /*font-family: 'Times New Roman', Times, serif;*/
    /*font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;*/
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    padding-left: 20px;
    
}

.logo{
    cursor: pointer;
    border-radius: 50%;
    margin: 15px;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 30px;
    padding: 10px;
    font-size: x-large;
    padding-top: 100PX;
    
}
.navbar ul li a{
    text-decoration: none;
    color:#ffff;
    
}

.navbar ul li a:hover{
    box-shadow: 0 3px black;
    transition: 1s;
    
}

.content {
    box-sizing: border-box;
    align-items: center;
    width:100%;
    position: absolute;
    top: 40%;
    color: aliceblue;
    background-color: rgba(144, 117, 96, 0.87);
    padding-inline-start: 80px;
    padding-inline-end: 80px;
    margin-right: auto;
    margin-left: auto;
    
    

}

.content h2 {
    text-align: center;
}

.content h3 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.content ul {

        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;

}

.content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}


.content ul li h4 {
    font: size 34px; 
}

.omoss{
    background-color:rgba(236, 214, 197, 0.816);
    position: absolute;
    top: 35%;
    width:100%;
    color:rgb(74, 4, 22);
    margin:auto;
    text-align: center;

}

footer{
    display: flex;
    height: 90px;
    width: 100%;
    border: 1px solid;
    position: absolute;
    bottom: 0px;
    background-color: rgba(141, 114, 93, 0.816);
    margin-left: 0;
   
}

div{
    width: 33%;

}

footer div{
    text-align: center;
    font-size: large;
    color:black ;
    
}


